/* Survey page styles */

.photo{
  width: 60%;
  padding: 10px;
}

form {
  margin: 0 auto;
  text-align: left;
  display: inline-block;
}

fieldset {
  border-style: none;
  margin-bottom: 1.5em;
}

legend {
  margin-bottom: 0.4em;
}

.newsletter legend {
  display: none;
}

.container{
  text-align: center;
  margin-top: 2em;
  width: 22em;
}

.newsletter label {
  display: inline-block;
  float: left;
  width: 7em;
}

.newsletter input {
  display: inline-block;
  margin-bottom: 1.5em;
  width: 15em;
}

form input:focus,
form textarea:focus {
  background-color: #9fbefc;
}

button {
  display: block;
  float:right;
  margin-right: 1em;
}

button:hover {
  background-color: #9fbefc;
}

#fullname {
  font-size: 0.8em;
  text-align: right;
  margin-top: -1.5em;
  margin-right: 0.5em;
  color: #b7596b;
}

#submit {
  margin-top: 2.5em;
  margin-right: 0.5em;
  font-size: 0.8em;
  text-align: right;
  color: #b7596b;
}

/* Styles for larger screens */
@media screen and (min-width: 840px) {
  .photo{
    width: 40%;
  }
}
